.main {
  background-color: #00142f;
}

form {
  width: 650px;
  margin-bottom: 10px;
}

.formulariokct {
  display: grid;
  justify-content: center;
  border-style: solid;
  border-color: #d26709;
}

.image {
  display: flex;
  justify-content: center;
}

.cadastrar-prod {
  width: 340px;
}

.botaoenviar {
  display: flex;
  justify-content: center;
}

.conta


/* Estilos do título */
h1 {
  font-size: 28px;
  font-weight: 600;
  color: #fff; /* Cor branca para contraste com o fundo escuro */
  margin-bottom: 25px;
  text-align: center;
}

/* Estilos para os grupos de formulário */
.form-group {
  margin-bottom: 15px;
}

/* Estilo das labels */
label {
  font-size: 16px;
  font-weight: 500;
  color: #fff; /* Cor branca para as labels */
  display: block;
  margin-bottom: 8px;
}

/* Estilo dos campos de entrada */
input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: #333;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8); /* Background semitransparente */
  transition: all 0.3s ease;
  outline: none;
  border: 1px solid #dcdcdc;
}

/* Foco nos campos de entrada */
input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #007bff;
  background-color: #ffffff;
}

/* Estilo do botão de envio */
button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: 1px solid transparent;
  text-transform: uppercase;
}

/* Estilo para o botão de envio ao passar o mouse */
button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Estilo para o botão de envio quando está desabilitado */
button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
  .main {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}
