.forma-Cabecalho{
    height: 100px;
    background-color: rgb(197, 107, 10);
    border-radius: 5px;
}

.cab{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

/* Estilo geral da tabela */
#table-products {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para o cabeçalho da tabela */
#table-products thead {
    background-color: #4CAF50;
    color: white;
}

#table-products th {
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
}

/* Estilo para as células de dados */
#table-products td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo para as linhas da tabela */
#table-products tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para as bordas da tabela */
#table-products td, #table-products th {
    border: 1px solid #ddd;
}

/* Estilo para os números, alinhando-os à direita */
#table-products td:nth-child(4), #table-products td:nth-child(5), #table-products td:nth-child(6) {
    text-align: right;
}

/* Estilo para as colunas de data e pagamento */
#table-products td:nth-child(1), #table-products td:nth-child(7) {
    text-align: center;
}

/* Media Query para telas pequenas */
@media screen and (max-width: 768px) {
    #table-products {
        font-size: 14px;
        width: 100%;
        margin: 0 10px;
    }

    #table-products td, #table-products th {
        padding: 8px 10px;
    }

    #table-products thead {
        font-size: 16px;
    }

    #table-products td {
        font-size: 14px;
    }
}

/*BOTAO PARA IMPRESSAO DE RELATORIO*/

#print-button {
    padding: 5px;
    background-color: #4CAF54;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    opacity: 100%;
}

#print-button:hover {
    opacity: 80%
}

.botao-Relatorio{
    display: flex;
    justify-content: flex-end;
}

.input-data{
    margin-top: -20px;
    margin-left: 5px;
}



/* parte de impressao  */

@media print {
    body {
        font-family: Arial, sans-serif;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }

    h1 {
        text-align: center;
    }
}
